apiVersion: v1
kind: Service
metadata:
  name: argocd-server
  namespace: argocd
spec:
  type: NodePort
  ports:
    - name: https
      port: 443
      targetPort: 443
      nodePort: 30715  # the port we used manually
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 31348
  selector:
    app.kubernetes.io/name: argocd-server
